<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @garment.brand %>
</p>

<p>
  <b>Price:</b>
  <%= @garment.price %>
</p>

<p>
  <b>Size:</b>
  <%= @garment.size.name %>
</p>


<%= link_to 'Edit', edit_garment_path(@garment) %> |
<%= link_to 'Back', garments_path %>
