<%= form_for(@garment_image) do |f| %>
  <% if @garment_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garment_image.errors.count, "error") %> prohibited this garment_image from being saved:</h2>

      <ul>
      <% @garment_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label : %><br />
    <%= f.text_field : %>
  </div>
  <div class="field">
    <%= f.label :garment_id %><br />
    <%= f.text_field :garment_id %>
  </div>
  <div class="field">
    <%= f.label : %><br />
    <%= f.number_field : %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
