<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @garment_image.caption %>
</p>

<p>
  <b>:</b>
  <%= @garment_image. %>
</p>

<p>
  <b>Garment:</b>
  <%= @garment_image.garment_id %>
</p>

<p>
  <b>:</b>
  <%= @garment_image. %>
</p>


<%= link_to 'Edit', edit_garment_image_path(@garment_image) %> |
<%= link_to 'Back', garment_images_path %>
